.weather-icon{
    text-align:center
}

.temperature {
    font-size:x-large;
    text-align: center
}

.tomorrow-weather{
    display:flex;
    justify-content: space-beetween
}

.city{
    text-transform: uppercase;
}
.currentDesc{
    font-size:large
}